@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right bottom, #00f260, #0575e6);
}

::-webkit-scrollbar {
  width: 9px;
  height: 0;
}

.animationText {
  font-family: Kaushan;
  text-transform: uppercase;
  font-size: 8rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;

  position: relative;
  color: #000;
}

h1:before {
  content: attr(data-text);
  position: absolute;
  background: linear-gradient(
    #f70000,
    #f89200,
    #f8f501,
    #038f00,
    #0168f8,
    #a200f7
  );
  background-clip: text;
  color: transparent;
  background-size: 100% 90%;
  line-height: 0.9;
  clip-path: ellipse(120px 120px at -2.54% -9.25%);
  animation: swing 5s infinite;
  animation-direction: alternate;
}

@keyframes swing {
  0% {
    clip-path: ellipse(120px 120px at -2.54% -9.25%);
    clip-path: ellipse(120px 120px at -2.54% -9.25%);
  }
  50% {
    -webkit-clip-path: ellipse(120px 120px at 49.66% 64.36%);
    clip-path: ellipse(120px 120px at 49.66% 64.36%);
  }
  100% {
    clip-path: ellipse(120px 120px at 102.62% -1.61%);
    clip-path: ellipse(120px 120px at 102.62% -1.61%);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .animationText {
    font-size: 5rem;
  }
}
@media screen and (max-width: 767px) {
  .animationText {
    font-size: 4rem;
  }
}
